body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: zoomout;
}
@keyframes zoomout{
    from
    {
        width:200px;
        margin-top: -50px;
    }
    to
    {
        width: 150px;
        margin-top: 0px;
    }
}

.avatar:hover{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: zoomin;
}
@keyframes zoomin{
    from
    {
        width: 150px;
        margin-top: 0px;
    }
    to
    {
        width:200px; 
        margin-top:-50px;  
    }
}

.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e9edc9;
    color: #2b2839;
    border-bottom: 6px solid #faedcd;
    box-shadow: 5px 5px 5px;
    animation-duration: 3s;
    animation-name: slidein; 
    transition: 2s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card p{
    transition: 2s;
}
.card p:hover{
    font-size: 20px;
    transition: 0.5s;
}

@keyframes slidein {
    from{
        margin:100%;
    }
    to{
        margin: 0px;
    }
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/


/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
